[submodule "public"]
	path = public
	url = https://github.com/exfly/exfly.github.io.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/exfly/hugo-theme-next.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
